<%= render 'layouts/navbar'%>
    <div class="section-header">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <h1 class="page-header">FAQ <small>Frequently Asked Questions</small></h1>
          </div>

        </div>
      </div> <!-- /.container -->
    </div> <!-- /.section-colored -->

    <div class="container container-int">

      <div class="row">

        <div class="col-lg-12">

          <ol class="breadcrumb">
          <li><%= link_to "Home", root_path%></li>
            <!-- <li><a href="index.html">Home</a></li> -->
            <li class="active">FAQ</li>
          </ol>

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    What is the best time to travel in Uganda?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  Officially, Uganda’s dry seasons are from December/January through to mid March and from June through to mid-September. These dry months are the most popular with tourists, with July and August and Christmas and New Year being the peak seasons.

Most rain falls in October-November and April-May. However, this doesn’t mean that it rains all day, nor does it mean it will rain every day. Usually there’s a tropical shower at night or a shorter shower during the day, but in Uganda you can trust that after rain comes sunshine!

The weather is no reason to avoid travelling in the wet season – you might even consider it because of the easy availability of gorilla permits.

As in the rest of the world, the East African climate is changing, making it more difficult for us to predict the weather during your safari. However, in Uganda the temperature is very stable and pleasant, with sunshine almost 365 days a year. During the day, the temperature averages between 23 and 27°C, although in some places it can be quite cool at night.

One remarkable aspect about Uganda safaris is: whether you travel in the dry, dusty months or in the wet season, you will never find the crowded tourism like in Kenya or Tanzania. If you spot a lion or leopard, it is very likely that you will be the only one to see it – even in peak season!
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Are vaccinations required for my Uganda safari?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                 A number of different vaccinations are recommended and/or required before entering Uganda. A certificate proving you have had the Yellow Fever vaccination is mandatory for entry into Uganda. Immunizations against DTP (Diphtheria, Tetanus and Polio) and Hepatitis A are recommended as well.

Besides bringing mosquito repellent, we also advise you to take malaria ‘prophylactics’ (prevention medication).

For the latest Uganda travel health advice, please check one of the travel health web sites or contact us at Great Lakes Safaris. We’re always happy to give free Uganda travel advice!
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Is Kampala a safe city for tourists?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Kampala is one of the safest capital cities in (East) Africa – although, as anywhere, petty thieves may try and take advantage of people who leave phones and valuables unattended. Your driver guide will give you all the information you need to make sure your trip is safe and incident-free. Feel free to ask questions!
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    Is MasterCard accepted in Uganda?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Very few places in Uganda accept MasterCard. In addition to cash, we suggest you bring a Visa debit card.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    What should I tip in Uganda?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  How much to tip in Uganda depends entirely on your level of satisfaction of course, but even a small tip to show your gratitude will be highly appreciated. You might consider USD10 per day if you are happy with the service of your safari guide and 5-10% tip in upmarket hotels, Uganda lodges and restaurants.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    Are travelers cheques accepted in Uganda?
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Travelers cheques are no longer accepted in Uganda.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                    Will I get sick when I’m in Uganda?
                  </a>
                </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                  You are unlikely to fall sick while you are in Uganda but do take all recommended preventive measures. If you take any regular medication, please bring it with you.

                Take your Malaria medication as directed – before, during and possibly after – your visit to Uganda (depending on the Malaria prophylactic you take).

                Although HIV/AIDS infection rates are lower than many countries in Africa, the prevalence of HIV/AIDS infection is certainly higher than in most Western countries. Tourists and visitors to Uganda sometimes engage in risky behaviour that they wouldn’t engage in back home. Play safe. Please take your sexual health seriously.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                    Is Uganda a safe country for tourists?
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                 Uganda is a very safe country to visit.

                Although Uganda has lived through a turbulent history, the country is safe, stable and welcoming. Ugandans’ hospitable nature is legendary! You will be warmly welcomed wherever you go by the country’s friendly residents.

                The most popular National Parks are situated in the south (west) of Uganda and are safe to visit. The border area with Rwanda and DRC remains stable and all National Parks and wildlife reserves are well protected by the Uganda Wildlife Authority’s rangers. Tourism is hugely important for Uganda’s economy and a Tourism Police force has been created to protect visitors.

                If you are unsure about the safety of travel to Uganda, please contact Great Lakes Safaris.

                Your travel insurance company or foreign office may offer information about travel to Uganda. However, in our experience, these bodies all err on the side of caution and do not necessarily know what is happening on the ground in Uganda at the time. For example, May 2013, some still advise against travel to KidepoValleyNational Park in Northern Uganda, although it is now safe to travel there by road, or by air.

                Your safety is our absolute priority and you can rest assured that we will always give you the best Uganda travel advice.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                    Can I do the gorilla tracking in Uganda?
                  </a>
                </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                  If you are interested in a mountain gorilla safari in Uganda or Rwanda you are required to buy a gorilla permit well in advance of your trip. As only eight people are allowed to visit each gorilla group per day, the demand is high. Great Lakes Safaris are happy to book your gorilla trekking permits and organise your gorilla safari.

To buy your gorilla permit, you will need to provide us with your full names, nationality, passport number, preferred date of trekking and gorilla permit fee. The minimum age for visiting the gorillas is 15 years. A certain level of fitness is required for the gorilla tracking, and you may not be allowed gorilla trekking if you fall sick.
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div><!-- /.container -->

<%= render 'layouts/footer'%>

 <%= render 'layouts/rights'%>
