<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-3">
        <a class="footer-brand" href="index.html">Africarlogistics</a>
        <p>Africarlogistics is a Ugandan tour and travel company.Your international and local travel and holiday services</p>
        <ul class="list-inline list-unstyled social-networks">
          <li>
            <a href="#">
              <div class="icon-social icon-social-facebook normal">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-facebook"></i>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="icon-social icon-social-twitter normal">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-twitter"></i>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="icon-social icon-social-google-plus normal">
                <i class="fa fa-google-plus"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-google-plus"></i>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="icon-social icon-social-youtube normal">
                <i class="fa fa-youtube-play"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-youtube-play"></i>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="icon-social icon-social-linkedin normal">
                <i class="fa fa-linkedin"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-linkedin"></i>
              </div>
            </a>
          </li>

          <li>
            <a href="#">
              <div class="icon-social icon-social-pinterest normal">
                <i class="fa fa-pinterest"></i>
              </div>
              <div class="icon-social hover">
                <i class="fa fa-pinterest"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <h3>CONTACT</h3>
        <address>
          <i class="fa fa-map-marker"></i> SAL Building Plot 71 Nkrumah road.<br>
          <i class="fa fa-phone"></i> 0772441422 <br>
          <i class="fa fa-envelope"></i> sales@africarlogistics.tours
        </address>
      </div>
<!--

      <div class="col-lg-3 col-md-3">
        <h3>LATEST TWEETS</h3>
        <ul class="latest-tweets">
          <li>
            <i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing
          </li>
          <li>
            <i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing
          </li>
        </ul>
      </div>
-->

      <div class="col-lg-3 col-md-3">
        <h3>NEWSLETTER</h3>
        <p>Type your email address below and subscribe to our newsletter</p>
        <div class="input-group-fields">
          <input type="text" name="email" class="form-control input-lg" placeholder="Enter your email address in here...">
          <br/>
          <span>
            <div class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="button">Submit</button>
            </div>
         </span>
        </div><!-- /input-group -->
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->
</footer>