<div class="footer-after">
  <div class="container">
    <div class="row">
      <p class="col-md-10">©2016 All rights reserved. Designed by TheRailsShop LTD.</p>
<!--      <p class="col-md-2 legal"><a href="#" rel="nofollow">Legal Notice</a></p>-->
    </div><!-- /.row -->
  </div>
</div>
