<div class="footer-after">
  <div class="container">
    <div class="row">
      <p class="col-md-10">©2014 All rights reserved. Designed by John Doe.</p>
      <p class="col-md-2 legal"><a href="#" rel="nofollow">Legal Notice</a></p>
    </div><!-- /.row -->
  </div>
</div>
