<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Banzhow</title>

    <!--&lt;!&ndash; font-awesome &ndash;&gt;-->
    <!--<link href="/font-awesome.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <!--&lt;!&ndash;[if IE 7]>-->
    <!--<link href="/font-awesome-ie7.css" rel="stylesheet">-->
    <!--<![endif]&ndash;&gt;-->

    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link href="/bootstrap.css" rel="stylesheet">-->

    <!--&lt;!&ndash; custom CSS &ndash;&gt;-->
    <!--<link href="/style.css" rel="stylesheet">-->
    <!--&lt;!&ndash;[if lte IE 8]>-->
    <!--<link href="/ie8.css" rel="stylesheet">-->
    <!--<![endif]&ndash;&gt;-->
    <!--&lt;!&ndash;[if lte IE 7]>-->
    <!--<link href="/ie7.css" rel="stylesheet">-->
    <!--<![endif]&ndash;&gt;-->

    <!--&lt;!&ndash; JavaScript &ndash;&gt;-->
    <!--<script type="text/javascript" src="/jquery-1.10.2.js"></script>-->
    <!--<script type="text/javascript" src="/bootstrap.js"></script>-->
    <!--<script type="text/javascript" src="/plugins.js"></script>-->
    <!--&lt;!&ndash;[if lte IE 7]>-->
    <!--<script type="text/javascript" src="/boxsizing/jquery.boxsizing.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <!--<script type="text/javascript" src="/banzhow.js"></script>-->
  <title>ProtoSite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
